
  <div class="sticky-wrapper" id="nav-sticky-wrapper"><nav id="nav" class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand" href="#">
          <ul class="names">
              <li>Prue</li>
                <li class="circle">&amp;</li>
                <li>Cameron</li>
            </ul>
        </a>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav_menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nav_menu">
            <ul id="nav_list" class="nav navbar-nav navbar-right">
                <li class="" [routerLinkActive]="['active']" ><a routerLink="/" [routerLink]="['/']">Home</a></li>
                <li class="" [routerLinkActive]="['active']" ><a routerLink="/couple" [routerLink]="['/couple']">Couple</a></li>	
                <li class="" [routerLinkActive]="['active']" ><a routerLink="/ourstory" [routerLink]="['/ourstory']">Our Story</a></li>	
                <li class="" [routerLinkActive]="['active']" ><a routerLink="/gallery" [routerLink]="['/gallery']">Gallery</a></li>	
                <li class="" [routerLinkActive]="['active']" ><a routerLink="/people" [routerLink]="['/people']">Featured People</a></li>	
                <li class="" [routerLinkActive]="['active']" ><a routerLink="/location" [routerLink]="['/location']">Events</a></li>	
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav></div>

