<!-- START SECTION: rsvp -->
<section id="rsvp">
    <div class="container">
      <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
              <div class="title-block">
                    <h1>Here's the <span><em>Plan!</em></span></h1>
                    <div class="divider"></div>
                    <p><em>Here's a list of when and where to be to make this happen.</em></p>
                </div>
                
            </div>
            <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">

                <form id="ajaxForm" data-toggle="validator">
                    <div class="row bot-mrg-20">
                  <div class="col-md-4 text-center">
                            <input type="checkbox" id="checkbox-1" name="events[]" value="Pre-Wedding Dinner">
                            <label for="checkbox-1" class="checkbox-button"><i class="fa fa-circle-o" aria-hidden="true"></i> Pre-Wedding Dinner</label>
                            <p>Victory Gardens Hall, 11 Grant Ave. Carteret NJ 9851 (732) 841-45 90, (732) 634-13 86 info@emailname.com</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <input type="checkbox" id="checkbox-2" name="events[]" value="Ceremony">
                            <label for="checkbox-2" class="checkbox-button"><i class="fa fa-circle-o" aria-hidden="true"></i> Ceremony</label>
                            <p>Victory Gardens Hall, 11 Grant Ave. Carteret NJ 9851 (732) 841-45 90, (732) 634-13 86 info@emailname.com</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <input type="checkbox" id="checkbox-3" name="events[]" value="Party">
                            <label for="checkbox-3" class="checkbox-button"><i class="fa fa-circle-o" aria-hidden="true"></i> Party</label>
                            <p>Victory Gardens Hall, 11 Grant Ave. Carteret NJ 9851 (732) 841-45 90, (732) 634-13 86 info@emailname.com</p>
                        </div>
              </div>
                    
                </form>
          </div>
        </div>
    </div>
</section>

    <!-- START SECTION: counter -->
    <section id="counter" class="img-bg-3" data-stellar-background-ratio="0.5">
        <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                    	
                        <h2>Counting the minutes for the big day!</h2>
                        
                        <!-- Countdown -->
						<div class="countdown" data-date="2018-08-23 00:00:00"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION: counter -->
<!-- END SECTION: rsvp -->
