<section id="home" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
            <div class="col-xs-12">
              <h3 class="title"><span></span>We are getting married!<span></span></h3>
                <ul class="names">
                  <li>Marttin</li>
                    <li class="circle">&amp;</li>
                    <li>Julianne</li>
                </ul>
                <div class="date">Aug <span>23</span> 2018</div>
                <div class="hour">5:00 <span>pm</span></div>
                <div class="place">
                  <h3>Antigua Event Saloon</h3>
                    <p>453 West Street #56-WE3547 - Macondo, Florida.</p>
                </div>
            </div>
  </div>
    </div>
</section>

<router-outlet></router-outlet>
