<!-- START SECTION: featured-people -->
<section id="featured-people">
    <div class="container">
      <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
              <div class="title-block">
                    <h1>Featured <span><em>People</em></span></h1>
                    <div class="divider"></div>
                    <p><em>Dolor sit amet, consectetur adipiscing elit. Mauris porttitor non sem eu faucibus. Aenean pellentesque dui tincidunt, dictum massa congue, euismod ipsum. Duis auctor in est ac dignissim.</em></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="featured">
                    <img src="./assets/img/featured/featured-01.jpg" class="img-responsive img-circle" alt="Groom"/>
                    <div class="text">
                        <h2>Mark Gamberther</h2>
                        <h4><span><em>Best Man</em></span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor non sem eu faucibus. Aenean pellentesque dui tincidunt, dictum massa congue, euismod ipsum. Duis auctor in est ac dignissim.</p>   
                </div>
                </div>
                <div class="clearfix"></div>
                <div class="featured">
                    <img src="./assets/img/featured/featured-03.jpg" class="img-responsive img-circle" alt="Groom"/>
                    <div class="text">
                        <h2>Pablo Ibañez</h2>
                        <h4><span><em>Groomsman</em></span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor non sem eu faucibus. Aenean pellentesque dui tincidunt, dictum massa congue, euismod ipsum. Duis auctor in est ac dignissim.</p>   
                </div>
                </div>
                <div class="clearfix"></div>
                <div class="featured">
                    <img src="./assets/img/featured/featured-04.jpg" class="img-responsive img-circle" alt="Groom"/>
                    <div class="text">
                        <h2>Donald Bessue</h2>
                        <h4><span><em>Groomsman</em></span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor non sem eu faucibus. Aenean pellentesque dui tincidunt, dictum massa congue, euismod ipsum. Duis auctor in est ac dignissim.</p>   
                </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 featured-right">
               <div class="featured">
                    <img src="./assets/img/featured/featured-02.jpg" class="img-responsive img-circle" alt="Groom"/>
                    <div class="text">
                        <h2>Christine Doe</h2>
                        <h4><span><em>Maid of honor</em></span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor non sem eu faucibus. Aenean pellentesque dui tincidunt, dictum massa congue, euismod ipsum. Duis auctor in est ac dignissim.</p>   
                </div>
                </div>
                <div class="clearfix"></div>
                <div class="featured">
                    <img src="./assets/img/featured/featured-05.jpg" class="img-responsive img-circle" alt="Groom"/>
                    <div class="text">
                        <h2>Samantha Markesh</h2>
                        <h4><span><em>Bridesmaid</em></span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor non sem eu faucibus. Aenean pellentesque dui tincidunt, dictum massa congue, euismod ipsum. Duis auctor in est ac dignissim.</p>   
                </div>
                </div>
                <div class="clearfix"></div>
                <div class="featured">
                    <img src="./assets/img/featured/featured-06.jpg" class="img-responsive img-circle" alt="Groom"/>
                    <div class="text">
                        <h2>Kesha Martinez</h2>
                        <h4><span><em>Bridesmaid</em></span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor non sem eu faucibus. Aenean pellentesque dui tincidunt, dictum massa congue, euismod ipsum. Duis auctor in est ac dignissim.</p>   
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION: featured-people -->