    <!-- START SECTION: our-story -->
    <section id="our-story">
        <div class="container">
        	<div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                	<div class="title-block">
                        <h1>Our <span><em>Story</em></span></h1>
                        <div class="divider"></div>
                        <p><em>Dolor sit amet, consectetur adipiscing elit. Mauris porttitor non sem eu faucibus. Aenean pellentesque dui tincidunt, dictum massa congue, euismod ipsum. Duis auctor in est ac dignissim.</em></p>
                    </div>
                </div>
            </div>
        	<ul class="timeline">
                <li>
                  <div class="timeline-badge"><i class="fa fa-heart" aria-hidden="true"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h2 class="timeline-title">May <span>04</span> 2015</h2>
                    </div>
                    <div class="timeline-body text-center">
                      <img src="./assets/img/story/story-img-01.jpg" class="img-responsive" alt="Our Story"/>
                      <h2 class="timeline-title">Our first meeting</h2>
                      <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge"><i class="fa fa-heart" aria-hidden="true"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h2 class="timeline-title">Dec <span>28</span> 2015</h2>
                    </div>
                    <div class="timeline-body text-center">
                      <img src="./assets/img/story/story-img-02.jpg" class="img-responsive" alt="Our Story"/>
                      <h2 class="timeline-title">Great witer days</h2>
                      <p>Mussum ipsum cacilds, vidis litro abertis.  Mauris porttitor non sem eu faucibus. Aenean pellentesque dui tincidunt mauris porttitor non sem eu faucibus. Aenean pellentesque dui tincidunt,Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis .</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-badge"><i class="fa fa-heart" aria-hidden="true"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h2 class="timeline-title">Feb <span>16</span> 2016</h2>
                    </div>
                    <div class="timeline-body text-center">
                      <img src="./assets/img/story/story-img-03.jpg" class="img-responsive" alt="Our Story"/>
                      <h2 class="timeline-title">Trip to caribbean</h2>
                      <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge"><i class="fa fa-heart" aria-hidden="true"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h2 class="timeline-title">Oct <span>18</span> 2017</h2>
                    </div>
                    <div class="timeline-body text-center">
                      <img src="./assets/img/story/story-img-04.jpg" class="img-responsive" alt="Our Story"/>
                      <h2 class="timeline-title">Autumn love</h2>
                      <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                    </div>
                  </div>
                </li>
                <li>
                	<div class="timeline-end">
                        <div class="timeline-badge"><i class="fa fa-heart" aria-hidden="true"></i></div>
                	</div>
                </li>
            </ul>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                	<div class="final-frase">Now we are ready for the <span>next step...</span></div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION: our-story -->
