<section id="home" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
          <div class="col-xs-12">
            <h3 class="title"><span></span>We are getting married!<span></span></h3>
              <ul class="names">
                <li>Prue</li>
                  <li class="circle">&amp;</li>
                  <li>Cameron</li>
              </ul>
              <div class="date">April <span>21</span> 2018</div>
              <div class="hour">3:00 <span>pm</span></div>
              <div class="place">
                <h3>St Patricks Chruch</h3>
                  <p>453 Bridge st - Tamworth, NSW.</p>
              </div>
          </div>
</div>
  </div>

</section>






